$primary: #002147;      // School Navy
$secondary: #D4AF37;    // Heritage Gold
$light: #708090;        // Slate Grey
$danger: #990000;       // Crimson
$white: #FFFFFF;        // Pure White

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "danger": $danger,
    "white": $white
);